[Unit]
Description=My COSC330 Shell Service
After=network.target

[Service]
Type=simple
ExecStart=/home/nick/Documents/Final_for_SP/part2/myshell_daemon.sh
WorkingDirectory=/home/nick/Documents/Final_for_SP/part2
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
